@import 'mixins';
$barlowFont: Barlow, sans-serif;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main{
    @include flexCenter(column);
    height: 100%;

    #hex {
        font-family: $barlowFont;
        font-size: 80px;
        text-shadow: 0 0 5px whitesmoke;
        margin-bottom: 10px;
    }

    #btn {
        @include btnDesign;
        cursor: pointer;
        text-shadow: 0 0 3px whitesmoke;
        margin-top: 0;
    }
}