@import 'mixins';
$barlowFont: Barlow, sans-serif;
$borderColor: #CFD8D7;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: $barlowFont;
    border-bottom-style: solid;
    border-bottom-color: $borderColor;
    border-bottom-width: 3px;

    div {
        @include flexCenter(row);
    }

    #btn {
        @include btnDesign;
        cursor: pointer;
        margin-top: 0;
        font-weight: bold;
    }

}

main{
    @include flexCenter(row);
    height: 100%;

    #hex {
        font-family: $barlowFont;
        font-size: 80px;
        text-shadow: 0 0 5px whitesmoke;
    }
}

footer {
    @include flexCenter(row);
    border-top-style: solid;
    border-top-color: $borderColor;
    border-top-width: 3px;
    font-size: 30px;

    div {
        @include flexCenter(row);
        padding: 10px 30px;

        a:link, a:visited, a:active {
            color: black;
        }

        a:hover {
            color: #FFBCB5;
        }
    }
}